.video-responsive {
  overflow: clip;
  padding-bottom: 56.25%;
  position: relative;
  height: 100px;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.drop-box {
  border: 4px dashed rgba(100, 100, 100, 1);
  border-radius: 4px;
  width: 50%;
  height: 100px;
}

